<div class="container">
    <div class="form-holder">
        <div id="be-instructor">
            <form rol="form" method="post" id="be-instructor-form" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" name="zipcode" id="zipcode" class="form-control" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="car_img">Car Image</label>
                    <input type="file" name="car_img" id="car_img" class="form-control" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="license_img">License Image</label>
                    <input type="file" name="license_img" id="license_img" class="form-control" required />
                </fieldset>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
