<div class="container">
    <div>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    <p>sadjfksdankcndjoicajsolkdhfiukjcefiudkhg</p>
    </div>

    <div class="mobile-footer">
        <button class="important">hello</button>
    <div>
</div>
