<div class="container">
    <div class="form-holder">
        <div id="login">
            <form rol="form" method="post" id="login-form">
                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required />
                </fieldset>

                <button type="submit" class="btn btn-primary">Login</button>
                <a class="toggle-form">Create account</a>
            </form>
        </div>
    </div>
</div>
