<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><%= username %></li>
            <li class="list-group-item"><%= email %></li>
            <li class="list-group-item"><% if(is_instructor) {
                print("Valid Instructor");
            } else {
                print("Valid Student");
            } %></li>
            <li class="list-group-item">Joined at <%= date_joined %></li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
