@import "variables";
@import "mixins";

// ::Sass::Script::Value::Number.precision = [8, ::Sass::Script::Value::Number.precision].max
#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid darken($gray-lightest, 6.5%);
    }
}

// Navigation

// --Topbar

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

// --Sidebar

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid darken($gray-lightest, 6.5%);
    a {
        &.active {
            background-color: $gray-lighter;
        }
    }
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

// Buttons

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: $brand-primary;
}

.btn-success.btn-outline {
    color: $brand-success;
}

.btn-info.btn-outline {
    color: $brand-info;
}

.btn-warning.btn-outline {
    color: $brand-warning;
}

.btn-danger.btn-outline {
    color: $brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

// Chat Widget

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted $gray-light;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

// Login Page

.login-panel {
    margin-top: 25%;
}

// Flot Charts Containers

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

// DataTables Overrides

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

// Circle Buttons

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

// Grid Demo Elements

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

// Custom Colored Panels

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: $brand-success;
    .panel-heading {
        border-color: $brand-success;
        color: white;
        background-color: $brand-success;
    }
    a {
        color: $brand-success;
        &:hover {
            color: darken($brand-success, 15%);
        }
    }
}

.panel-red {
    border-color: $brand-danger;
    .panel-heading {
        border-color: $brand-danger;
        color: white;
        background-color: $brand-danger;
    }
    a {
        color: $brand-danger;
        &:hover {
            color: darken($brand-danger, 15%);
        }
    }
}

.panel-yellow {
    border-color: $brand-warning;
    .panel-heading {
        border-color: $brand-warning;
        color: white;
        background-color: $brand-warning;
    }
    a {
        color: $brand-warning;
        &:hover {
            color: darken($brand-warning, 15%);
        }
    }
}

// my custom setting
.sidebar-fixed-left {
    position: fixed;
    margin-top: auto;
    box-sizing: border-box;
    @media(max-width: 768px) {
        width: 100%;
        position: relative;
    }

}

.sidebar-header {
    float: top;
    display: block;
    margin-bottom: auto;
    width: 100%;
}

.sidebar-nav.navbar-collapse.sidebar-body {
    padding-top: 51px;
    @media(max-width: 768px) {
        padding-top: 0px;
    }
}
.team-member-side {
    display: inline;
    .team-member-icons {
        width: 25%;
        margin: 5px;
        height: auto;
    }

    .plus-icons {
        width: 25%;
        margin: 5px;
        height: auto;
        line-height: normal;
    }
}

.team-member-content {
    input.delete {
        position:absolute;
        display: none;
        top:0;
        right: 10%;
        box-shadow: none;
        border: 2px solid black;
        font-weight: bold;
        background-color: $gray-light;
        vertical-align: middle;
        @include border-top-radius(10px);
        @include border-right-radius(10px);
        @include border-bottom-radius(10px);
        @include border-left-radius(10px);
    }

    &:hover input.delete {
        display: block;
    }

    .team-member-icons {
    }

    .plus-icons {
    }
}

.team-member-icons {
    width: 75px;
    border: 5px solid white;
    @include border-top-radius(35px);
    @include border-right-radius(35px);
    @include border-bottom-radius(35px);
    @include border-left-radius(35px);

}

.plus-icons {
    text-align: center;
    display: inline-block;
    font-size: 3em;
    border: 5px solid white;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    @include border-top-radius(35px);
    @include border-right-radius(35px);
    @include border-bottom-radius(35px);
    @include border-left-radius(35px);
}

.test-area {
    display: inline-block;
    min-width: 50px;
    height: 250px;
    height: auto;
    min-height: 100px;
    min-width: 80px;
    border: 2px solid black;
}

.login-form {
    padding: 30px;
    margin:50px auto;
    @include border-all-radius(4px);
    @include box-shadow($gray-darker 4px 7px 7px);

    @media(min-width: 768px) {
        max-width: 600px;
        width: 50%;
    }

}

// Custom Navigation Bar

.navbar-default {
	background-color: $gray-darkest;
	border-color: transparent;
	.navbar-brand {
		color: $color-primary;
        padding-top: 2px;
        img {
            height: 45px;
            display: inline-block;
        }
		@include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
        	color: darken($color-primary, 10%);
        }

	}
	.navbar-collapse {
		border-color: fade(white, 2%);
	}
	.navbar-toggle {
		background-color: $color-primary;
		border-color: $color-primary;
		.icon-bar {
			background-color: white;
		}
		&:hover,
		&:focus {
			background-color: $color-primary;
		}
	}
    .nav {
    	li {
    		a {
    			@include heading-font;
    			font-weight: 400;
    			letter-spacing: 1px;
    			color: white;
    			&:hover,
    			&:focus {
    				color: $color-primary;
    				outline: none;
    			}
    		}
    	}
    }
	.navbar-nav>.active>a {
		border-radius: 0;
		color: white;
		background-color: $color-primary;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: white;
		background-color: darken($color-primary, 10%);
	}

    @media screen and (min-width: 768px){
        padding: 20px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
	    .navbar-brand {
            padding-top: 1px;
	        font-size: 2em;
            color: $color-primary;
	        -webkit-transition: all 0.3s;
	        -moz-transition: all 0.3s;
	        transition: all 0.3s;

            img {
                display: inline-block;
                height: 70px;
            }
	    }
		.navbar-nav>.active>a {
			border-radius: 3px;
		}
    }
}


.navbar-default.navbar-shrink {
    .navbar-brand {
        color: $color-primary;
    }

    @media screen and (min-width: 768px){
    	background-color: $gray-darkest;
        padding: 10px 0;
    	.navbar-brand {
            font-size: 1.5em;
        }
    }
}

body {
    padding-top: 70px;
    @media screen and (min-width: 768px){
        padding-top: 120px;
    }
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    @media screen and (min-width: 768px){
        padding-left: 1%;
        padding-right: 1%;
    }
}

.form-holder {
    @include box-sizing(border-box);
    border: 2px solid $gray-light;
    padding : 10px;
    width: 85%;
    margin: 0 auto;
}


form {
    button {
        width: 30%;
        margin: auto 2.5%;
        text-transform: uppercase;
    }
    a {
        margin: auto 2.5%;
        color: red;
        margin: auto 2.5%;
        font-size: 1.2em;
        text-decoration: underline;
    }

}

.dropdown-menu {
    background-color: $gray-darker;
}

#map {
    height: 400px;
    @media screen and (min-width: 768px){
        height: 500px;
    }
}
